@main-yellow: #FBBA00;
@main-dark: #141414;
@main-gray: #e6e6e6;

.default-button {
  background: @main-yellow;
  border-color: @main-yellow;

  &:hover {
    background: darken(@main-yellow, 5%);
    border-color: darken(@main-yellow, 5%);
  }
}

.header,
.page-wrapper {
  background: @main-dark;
}

.menu .menu-list-link:hover,
.menu .menu-list-link.active {
  color: @main-yellow;

  svg {
    fill: @main-yellow;
  }
}

.profile .profile-menu.focused .profile-menu-items li.active,
.profile .profile-menu.focused .profile-menu-items li:hover {
  span {
    color: @main-yellow;
  }
  svg {
    fill: @main-yellow;
  }
}


.main-content-grid-item .item-copy {
  color: @main-yellow;
}

.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--highlight {
  background-color: @main-yellow;
}

.modal-wrapper-static {
  background-color: @main-dark;
}

.wallet-payment-icon-type.yellow-colored {
  polygon,
  path {
    fill: @main-yellow !important;
  }
}

.wallet-payment-icon-type.mixed-colored {
  path:first-child {
    fill: @main-yellow !important;
  }
}

.form-control:focus {
  border-color: @main-yellow;
}

.next-form-button::after {
  background-color: @main-yellow;
}
