.default-button {
  background: #FBBA00;
  border-color: #FBBA00;
}
.default-button:hover {
  background: #e2a700;
  border-color: #e2a700;
}
.header,
.page-wrapper {
  background: #141414;
}
.menu .menu-list-link:hover,
.menu .menu-list-link.active {
  color: #FBBA00;
}
.menu .menu-list-link:hover svg,
.menu .menu-list-link.active svg {
  fill: #FBBA00;
}
.profile .profile-menu.focused .profile-menu-items li.active span,
.profile .profile-menu.focused .profile-menu-items li:hover span {
  color: #FBBA00;
}
.profile .profile-menu.focused .profile-menu-items li.active svg,
.profile .profile-menu.focused .profile-menu-items li:hover svg {
  fill: #FBBA00;
}
.main-content-grid-item .item-copy {
  color: #FBBA00;
}
.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--highlight {
  background-color: #FBBA00;
}
.modal-wrapper-static {
  background-color: #141414;
}
.wallet-payment-icon-type.yellow-colored polygon,
.wallet-payment-icon-type.yellow-colored path {
  fill: #FBBA00 !important;
}
.wallet-payment-icon-type.mixed-colored path:first-child {
  fill: #FBBA00 !important;
}
.form-control:focus {
  border-color: #FBBA00;
}
.next-form-button::after {
  background-color: #FBBA00;
}
